.advantages {
	background-color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding-top: 40px;

	@media #{$mobile-only} {
		display: grid;
		grid-template-columns: 1fr;
	}
}

.advantages__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin: 0;
	padding: 20px;

	@media #{$tablet-only} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.advantages__title {
	grid-column: 1 / -1;
	text-align: center;
	font-family: var(--accent-font);
	text-transform: uppercase;

	@media #{$tablet-only} {
		font-size: 24px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		font-size: 24px;
		line-height: 20px;
		padding-bottom: 40px;
	}
}

.advantages__item {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;

	&::marker {
		color: transparent;
	}

	&--icon-city {
		grid-column: 1/2;
		--icon: url("../../icons/city.png");

		@media #{$tablet-only} {
			grid-column: 1/2;
		}

		@media #{$desktop-only} {
			grid-column: 1/2;
		}
	}

	&--icon-food {
		grid-column: 2/-1;
		--icon: url("../../icons/stack.png#food");

		@media #{$tablet-only} {
			grid-column: 2/3;
		}

		@media #{$desktop-only} {
			grid-column: 2/3;
		}
	}

	&--icon-activity {
		--icon: url("../../icons/stack.png#activity");

		@media #{$tablet-only} {
			grid-column: 3/4;
		}

		@media #{$desktop-only} {
			grid-column: 3/4;
		}
	}

	&--icon-programm {
		grid-column: 2/-1;
		--icon: url("../../icons/stack.png#programm");

		@media #{$tablet-only} {
			grid-column: 4/5;
		}

		@media #{$desktop-only} {
			grid-column: 4/5;
		}
	}
}

.advantages__item::before {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	background: #333333 var(--icon) no-repeat center / 100px 100px;
	margin: 0 auto;

	@media #{$desktop-only} {
		width: 250px;
		height: 250px;
	}
}

.advantages__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: 600;
}

.advantages__description {
	padding: 10px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 24px;
	}
}
