.choose-form__link {
	display: block;
	padding: 11px 22px;
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #333333;
}

.choose-form__link:hover {
	background-color: #000000;
}

.choose-form__link:active {
	opacity: 60%;
}
