.contacts {
	font-family: var(--main-font);
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.contacts__title {
	font-family: var(--accent-font);
	text-align: center;
	padding: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;

	@media #{$tablet-only} {
		font-size: 24px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		font-size: 24px;
		line-height: 20px;
		padding-bottom: 40px;
	}
}

.contacts iframe {
	border: none;
	display: block;
	width: 100vw;
}
