.shedule {
	background-color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.shedule__title {
	font-family: var(--accent-font);
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;

	@media #{$tablet-only} {
		font-size: 24px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		font-size: 24px;
		line-height: 20px;
		padding-bottom: 40px;
	}
}

.shedule__item {
	&::marker {
		color: transparent;
	}
	background-color: #f2f2f2;
	padding: 20px 80px;
	margin-bottom: 10px;

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 20px;
	}
}

.shedule__list {
	margin: 0;
	padding-left: 0;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	padding-top: 10px;

	@media #{$tablet-only} {
		gap: 20px;
	}

	@media #{$desktop-only} {
		justify-content: space-around;
	}
}
