.special-offer {
	font-family: var(--main-font);
	color: #000000;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.special-offer__title {
	font-family: var(--accent-font);
	text-align: center;
	padding: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;

	@media #{$tablet-only} {
		font-size: 24px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		font-size: 24px;
		line-height: 20px;
		padding-bottom: 40px;
		grid-column: 1/-1;
	}
}

.special-offer__item {
	margin: 0 auto;
}

.special-offer__description {
	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 24px;
	}
}
