<footer class="main-footer">
	<div class="main-footer__map">
		<h2 class="visually-hidden">Карта расположения лагеря</h2>
	</div>

	<div class="main-footer__inf">
		<ul class="main-footer__social social">
			<li class="social__item">
				<a class="social__link social__link--icon-inst" href="#">
					<span class="visually-hidden">Инстаграм</span>
				</a>
				<a class="social__link social__link--icon-vk" href="#">
					<span class="visually-hidden">Вконтакте</span>
				</a>
				<a class="social__link social__link--icon-tg" href="#">
					<span class="visually-hidden">телеграм</span>
				</a>
			</li>
		</ul>
		<a class="main-footer__logo logo" href="index.html" aria-current="page">
			<img class="logo__image" src="#" alt="Логоип лагеря">
		</a>
		<p class="main-footer__phone">Телефон</p>
	</div>
</footer>
