<header class="main-header">
	<nav class="main-nav main-nav--nojs">
		<button class="main-nav__toogle" type="button">
			<span class="visually-hidden">Открыть меню</span>
			<ul class="main-nav__list">
				<li class="main-nav__item">
					<a lass="main-nav__link" name="living">Проживание</a>
				</li>
				<li class="main-nav__item">
					<a lass="main-nav__link" name="meal">Питание</a>
				</li>
				<li class="main-nav__item">
					<a lass="main-nav__link" name="programm">Программа</a>
				</li>
				<li class="main-nav__item">
					<a lass="main-nav__link" name="about-camp">О лагере</a>
				</li>
				<li class="main-nav__item">
					<a lass="main-nav__link" name="contacts">Контакты</a>
				</li>
			</ul>
		</button>
	</nav>
	<a class="main-header__logo">
		<img href="index.html" src="#">
	</a>
</header>
