<header class="main-header ">
	<a class="main-header__logo logo" href="index.html">
		<img class="logo__pic" src="#" alt="Логотип лагеря">
		<img class="logo__text" src="#" alt="Логотип лагеря">
	</a>

	<nav class="main-nav main-nav--nojs page__centerer">
		<button class="main-nav__toogle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-nav__list">
			<li class="main-nav__item">
				<a class="main-nav__link">Программа</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link">Наша команда</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link">Контакты</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link" href="tel:8(800)000-00">+7(800)-000-00</a>
			</li>
		</ul>
	</nav>
</header>
