<header class="main-header">
	<nav class="main-nav main-nav--nojs">
		<button class="main-nav__toogle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-nav__list page__centerer">
			<li class="main-nav__item">
				<a lass="main-nav__link" name="living">Проживание</a>
			</li>
			<li class="main-nav__item">
				<a lass="main-nav__link" name="meal">Питание</a>
			</li>
			<li class="main-nav__item">
				<a lass="main-nav__link" name="programm">Программа</a>
			</li>
			<li class="main-nav__item">
				<a lass="main-nav__link" name="about-camp">О лагере</a>
			</li>
			<li class="main-nav__item">
				<a lass="main-nav__link" name="our-team">Наша команда</a>
			</li>
			<li class="main-nav__item">
				<a lass="main-nav__link" name="sale">Акция</a>
			</li>
			<li class="main-nav__item">
				<a lass="main-nav__link" name="contacts">Контакты</a>
			</li>
		</ul>
	</nav>
	<a class="main-header__logo" href="index.html">
		<img src="#" alt="Логотип лагеря">
	</a>
	<a class="main-header__number" href="tel:8(800)000-00"></a>
</header>
