{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<div class="hero page__centerer">
		<a class="hero__link" href="javascript:void(0)">
		</a>
	</div>

	<div class="shedule page__centerer">
		<h2 class="shedule__title">Рассписание смен в лагере</h2>
		<ul class="shedule__list">
			<li class="shedule__item shedule__item--icon"><div>10-17 июня</div></li>
			<li class="shedule__item shedule__item--icon"><div>10-17 июня</div></li>
			<li class="shedule__item shedule__item--icon"><div>10-17 июня</div></li>
		</ul>
	</div>

	<div class="choose-form">
		<a class="choose-form__link" href="form.html">Отправить заявку</a>
	</div>

	<div class="big-container">
		<section class="advantages page__centerer">
			<h2 class="advantages__title">Преимущества лагеря</h2>
			<ul class="advantages__list">
				<li class="advantages__item advantages__item--icon-city">
					<div class="advantages__description">Красивейший город</div>
				</li>
				<li class="advantages__item advantages__item--icon-living">
					<div class="advantages__description">Комфорное проживание</div>
				</li>
				<li class="advantages__item advantages__item--icon-activity">
					<div class="advantages__description">Много активностей</div>
				</li>
				<li class="advantages__item advantages__item--icon-programm">
					<div class="advantages__description">Продуманная программа</div>
				</li>
			</ul>
		</section>

		<div class="information page__centerer">
			<h2 class="information__title">Мы предлагаем:</h2>
			<ul class="information__list">
				<li class="information__item">
					<a class="information__link visually-hidden" href="#living">Проживание</a>

					<div class="information__photo"></div>

					<p class="information__description">Проживание в отличной гостиннице</p>
				</li>
				<li class="information__item">
					<a class="information__link visually-hidden" href="#meal">Питание</a>
					<img class="information__img" src="#" alt="Фото столовой">
					<p class="information__description">Вкуснейшее трех разовое питание</p>
				</li>
				<li class="information__item">
					<a class="information__link visually-hidden" href="#programm">Программа</a>
					<img class="information__img" src="#" alt="Картинка со спортсменами">
					<p class="information__description">Увдекательная программа в окружении знающих тренеров</p>
				</li>
				<li class="information__item">
					<a class="information__link visually-hidden" href="#contacts">Полный трансфер детей</a>
					<img class="information__img" src="#" alt="Абстрактная картинка, взрослый держит ребенка за руку">
					<p class="information__description">Встретим ребенка в Москве и в сопровождении взрослого привезем в лагерь</p>
				</li>
			</ul>
		</div>

	</div>

	<section class="special-offer page__centerer">
		<h2 class="special-offer__title">Специальные предложения</h2>
		<div class="special-offer__img"></div>
		<div class="special-offer__item">
			<p class="special-offer__description">Скидка 30% за брата</p>
		</div>
		<div class="special-offer__item">
			<p class="special-offer__description">При бронировании самым первым</p>
		</div>
	</section>

	<div class="our-team page__centerer">
		<h2 class="our-team__title">Наша команда</h2>
		<ul class="our-team__list">
			<li class="our-team__item">
				<img class="our-team__photo" src="#" alt="Фотограыия тренера BMX">
				<p class="our-team__description">Абра кадабра</p>
			</li>
			<li class="our-team__item">
				<img class="our-team__photo" src="#" alt="Фотограыия тренера Самакат">
				<p class="our-team__description">Абра кадабра</p>
			</li>
			<li class="our-team__item">
				<img class="our-team__photo" src="#" alt="Фотограыия вожатого">
				<p class="our-team__description">Абра кадабра</p>
			</li>
		</ul>


	</div>

	<div class="contacts">
		<h2 class="contacts__title">Как найти лагерь на карте</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.044758567073!2d49.13761991593069!3d55.75772468055468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eac4b11ccf2df%3A0x7deb2fc63c5f18c0!2z0JPQvtGB0YLQuNC90LjRhtCwIMKr0KDQtdCz0LDRgtCwwrsg4oCUIFRoZSBSZWdhdHRhIEhvdGVs!5e0!3m2!1sru!2sru!4v1679305489848!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>


</main>
{% endblock %}
